<div id="content">
	<div id="post">
		<h1><%= @post.title %></h1>

		<div class="author"><%= @post.user.full_name %></div>

		<div class="lead">
			<%= @markdown.render(@post.lead).html_safe %>
		</div>

		<div class="body">
			<%= @markdown.render(@post.body).html_safe %>
		</div>
	</div>
</div>
